<<<<<<< HEAD
<div class="container">
  <div class="row">
    <% @images.each do |image| %>
      <div class="card col-3">
        <% unless image.path == ""  %>
        <img  class="card-img-top" src=" <%= image.path %>" alt="<%= image.path%>">
        <% else %>
        <%= cl_image_tag image.photo.key, crop: :fill %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"> <%= image.title %> </h5>
          <p class="card-text"> <%= image.legend %> </p>
          <div class="d-flex justify-content-around">
          <p><%= link_to "More info", image_path(image)  %></p>
          <p><%= link_to "Edit", edit_image_path(image)  %></p>
          <p><%= link_to "Delete", image_path(image), method: :delete  %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  
=======
<h1>Images</h1>

<%= link_to "Add an image" , new_image_path %>

<% @images.each do |image| %>
  <ul>
    <li> <%= image.id %> </li>
    <img src=" <%= image.img_link %>" alt="test" width="400px">
    <p><%= link_to "Link to this image", image_path(image)  %></p>
    <p><%= link_to "Edit this image", edit_image_path(image)  %></p>
    <p><%= link_to "Delete this image", image_path(image), method: :delete  %></p>

  </ul>
<% end %>
>>>>>>> b5c6566438179161fc249da7caacb6f67b5f4729
