<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1500051638674-ff996a0ec29e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1392&q=80);">
  <div class="container">
    <h1>Save <strong>any</strong> kind of Images <strong></strong></h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#new-image-modal">
      Add an image
    </button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="new-image-modal" tabindex="-1" role="dialog" aria-labelledby="newimagemodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container my-3">
          <div class="form-group">
              <%= simple_form_for(@image) do |f| %>
              <div class="form-group">
                <%= f.input :title %>
              </div>
              <div class="form-group">
                <%= f.input :rating %>
              </div>
              <div class="form-group">
                <%= f.input :path %>
              </div>
              <div class="form-group">
                <%= f.input :legend, :as => :text %>
              </div>
              <div class="form-group">
                <%= f.input :photo, as: :file %>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit 'Send the image', :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% unless user_signed_in?  %>
    <h3 id="welcome-message">Welcome to this Rails application. Please log-in to access the options</p>
    <%= link_to 'Login', new_user_session_path, :class => 'btn btn-primary' %>
  <% else %>
    <div class="row">
      <% if @images.nil? || @images == [] %>
        <div >
          <p class="centered-text"> There are no Images in this repo </p>
        </div>
      <% else %>
        <% @images.each do |image| %>
          <div class="card col-12 col-sm-6 col-md-4 col-lg-3" id="card-display">
            <% unless image.path == ""  %>
              <img  class="card-img-top" src=" <%= image.path %>" alt="<%= image.path%>">
            <% else %>
              <%= cl_image_tag image.photo.key, class: "card-img-top", style: "width= 400px" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"> <%= image.title %> </h5>
              <p class="card-text"> <%= image.legend %> </p>
                <div class="options-task">
                <div class="option">
                  <%= link_to image_path(image) do %>
                    <%= fa_icon "eye" %>
                  <% end %>
                </div>
                <div class="option">
                  <%= link_to  edit_image_path(image) do %>
                    <%= fa_icon "edit" %>
                  <% end %>
                </div>
                <div class="option">
                  <%= link_to image_path(image), method: :delete do %>
                    <%= fa_icon "trash" %>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>

