<h1>Images</h1>

<%= link_to "Add an image" , new_image_path %>

<% @images.each do |image| %>
  <ul>
    <li> <%= image.id %> </li>
    <img src=" <%= image.img_link %>" alt="test" width="400px">
    <p><%= link_to "Link to this image", image_path(image)  %></p>
    <p><%= link_to "Edit this image", edit_image_path(image)  %></p>
    <p><%= link_to "Delete this image", image_path(image), method: :delete  %></p>

  </ul>
<% end %>