<div class="container">
  <div class="row">
    <% @images.each do |image| %>
      <div class="card col-3">
        <% unless image.path == ""  %>
        <img  class="card-img-top" src=" <%= image.path %>" alt="<%= image.path%>">
        <% else %>
        <%= cl_image_tag image.photo.key, crop: :fill %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"> <%= image.title %> </h5>
          <p class="card-text"> <%= image.legend %> </p>
          <div class="d-flex justify-content-around">
          <p><%= link_to "More info", image_path(image)  %></p>
          <p><%= link_to "Edit", edit_image_path(image)  %></p>
          <p><%= link_to "Delete", image_path(image), method: :delete  %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  
