<h1>Image</h1>
<<<<<<< HEAD
<img src=" <%= @image.path %>" alt="test" width="1000">
<p> <%= @image.title %> </p>
=======
<img src=" <%= @image.img_link %>" alt="test" width="1000">
<p> <%= @image.name %> </p>
>>>>>>> b5c6566438179161fc249da7caacb6f67b5f4729
<%= link_to "Back to the list", images_path %>