<!DOCTYPE html>
<html>
  <head>
    <%# Compatibility IE %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%# Media Query to adapt the size to multiple devices %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShopifyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

    <%= yield %>

    <p>Made with love</p>  <!-- Add this -->
  </body>
</html>
